@tailwind base;
@tailwind components;
@tailwind utilities;

.pokemon-wrapper {
  @apply mx-auto max-w-7xl grid place-items-center gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 p-4 sm:px-6 lg:px-8;
}

.pokemon-card {
  @apply w-full h-full flex items-center justify-center bg-green-400 flex-col p-3 text-white hover:brightness-95 cursor-pointer drop-shadow rounded;
}
.pokemon-card-body {
  @apply w-full flex items-center justify-between;
}

.pokemon-card-id {
  @apply text-xl font-medium text-white;
}

.pokemon-card-wrapper {
  @apply flex items-center gap-1;
}
.pokemon-card-type {
  @apply truncate max-w-full py-1 px-2 text-lg shadow-sm text-white bg-white brightness-105 rounded;
}

.div-btn-load {
  @apply w-full h-full flex items-center justify-center my-4 px-4;
}

.btn-load {
  @apply w-full md:w-2/6 flex items-center justify-center py-3 sm:py-2 px-4 text-xl text-white font-medium bg-red-500 rounded-sm hover:bg-red-600 whitespace-nowrap transition-all;
}

.grass {
  @apply bg-green-400;
}

.electric {
  @apply bg-yellow-400;
}

.water {
  @apply bg-blue-400;
}

.ice {
  @apply bg-blue-600;
}

.fire {
  @apply bg-red-500;
}

.rock {
  @apply bg-orange-400;
}

.ground {
  @apply bg-orange-600;
}

.poison {
  @apply bg-purple-400;
}

.fairy {
  @apply bg-pink-400;
}

.bug {
  @apply bg-emerald-400;
}

.normal {
  @apply bg-yellow-600;
}

.fighting {
  @apply bg-yellow-700;
}

.psychic {
  @apply bg-pink-500;
}

.ghost {
  @apply bg-gray-500;
}

.dark {
  @apply bg-slate-800;
}

.dragon {
  @apply bg-red-600;
}

.steel {
  @apply bg-slate-400;
}

.unknown {
  @apply bg-zinc-800;
}
